@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');

:root {
    font-family: sans-serif;
    --main-color:rgb(245, 234, 234);
    --text-main-color: #FFFFFF;
    --bold-font: 'Anton', sans-serif;
    --regular-font: 'Open Sans', sans-serif;
    --bg-color: #101d26;
}

body {
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-main-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 26px;
    padding-top: 23px;
}

.logo {
    font-family: var(--bold-font);
    text-transform: uppercase;
}

header .logo h1{
    font-size: 32px;
    margin-bottom: 10px;
}

header .logo{
    text-align: center;
}

header .social a{
    margin-left: 10px;
}

header .logo p{
    font-family: var(--regular-font);
    text-transform: uppercase;
}

header .menu li{
    display: inline-block;
    margin-right: 10px;
}

header .menu a{
    color: var(--text-main-color);
    text-decoration: none;
    font-family: var(--regular-font);
    text-transform: uppercase;
    transition: 0.1s border;
}

header .menu a:hover{
    border-bottom: 2px solid var(--text-main-color)
}



