@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo:wght@400;700&display=swap');

:root{
    font-family: 'Arvo', serif;
    --main-color: black;
}

h1, ul, p{
    margin: 0;
    padding: 0;
}

header .banner{
    font-family: 'Anton', sans-serif;
    font-size: 15px;
}  
header .menu{
    font-family: 'Anton', sans-serif;
    font-size: 10px; 
}
header nav .top-menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 1rem;
}
header nav .top-menu li a{
    text-transform: uppercase;
    color: var(--main-color);
    text-decoration: none;
    padding: 5px;
}
header nav .top-menu li a:hover{
    border: 1px solid var(--main-color);
}

@media (min-width: 500px;){
    header nav{
        display: flex;
    }
}

header nav .top-menu{
    flex: 1;
}